@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Fantasque;
    src: url(fonts/FantasqueSansMono-Bold.woff2);
    font-weight: bold;
}
@font-face {
    font-family: Fantasque;
    src: url(fonts/FantasqueSansMono-Regular.woff2);
}
@font-face {
    font-family: Fantasque;
    src: url(fonts/FantasqueSansMono-Italic.woff2);
    font-style: italic;
}
@font-face {
    font-family: Fantasque;
    src: url(fonts/FantasqueSansMono-BoldItalic.woff2);
    font-style: italic;
    font-weight: bold;
}

pre,
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
pre::-webkit-scrollbar,
html::-webkit-scrollbar {
    display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

.header-links {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: all;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    color: theme("colors.fg.link") !important;
}

:link {
    color: #ff8f40;
}
:visited {
    color: #e6b673;
}
a:hover {
    color: #ffb454;
}
a {
    text-decoration: underline;
}

p,
ul {
    margin-top: 8px;
    margin-bottom: 8px;
}

pre {
    padding: 1rem;
    border-radius: 20px;
    border: 2px dashed #ff8f40;
    overflow-x: scroll;
}

img {
    max-width: 100%;
}

h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

li {
    line-height: 150%;
}

.location {
    font-family: "Germania One", system-ui;
    font-size: 1.1rem;
}
